go 1.27.0

use (
	./services/auth-service
	./services/inventory-service
	./services/order-service
	./services/payment-service
	./services/product-service
	./services/search-service
	./services/shared
	./services/shipping-service
)
